<div class="card">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{account.username}}</h5>
    <p class="card-text">{{content}}</p>
    <button data='{{{unobjectify this}}}'>Edit</button>
  </div>
    <div class="card-footer text-muted">
    {{date}}
  </div>
</div>
