<div class="card"  data='{{{unobjectify this}}}'>
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body" >
    <h5 class="card-title">{{account.username}}</h5>
    <p class="card-text">{{content}}</p>
    <button class="editEntry">Edit</button>
    <button class="btn-danger deleteEntry">Delete</button>
  </div>
    <div class="card-footer text-muted">
    {{date}}
  </div>
</div>

